<div class="border p-4">
    <h1 class="text-center">Data Bindings</h1>
    <div class="row">
        <div class="col-4">
            <custom-input [inputValue]="firstNumber" (inputChanged)="setFirstNumber($event)"></custom-input>
        </div>
        <div class="col-1">
            <select name="operations" class="form-control" [(ngModel)]="operation">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="÷">÷</option>
            </select>
        </div>
        <div class="col-4">
            <custom-input [inputValue]="secondNumber" (inputChanged)="setSecondNumber($event)"></custom-input>
        </div>
        <div class="col-2 h2">= {{ getResult() }}</div>
    </div>
</div>