<nav class="d-flex d-flex justify-content-around p-2">
    <a [routerLink]="routerLinks.home" class="h3">Home</a>

    <div class="dropdown">
        <button class="btn btn-lg btn-primary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Playground
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu">
            <a [routerLink]="routerLinks.animals" class="h3 dropdown-item">Animlas</a>
            <a [routerLink]="routerLinks.datamanipulation" class="h3 dropdown-item">Data Manipulation</a>
            <a [routerLink]="routerLinks.directives" class="h3 dropdown-item">Directives</a>
            <a [routerLink]="routerLinks.pipes" class="h3 dropdown-item">Pipes</a>
            <a [routerLink]="routerLinks.weather" class="h3 dropdown-item">Weather</a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>